:root{
    --bgColorDark: black;
    --bgColorLight: gray;
    --colorMain: white;
    --backBgColor: aqua;
    --flipCardWidth: 40vh;
    --flipCardHeight: 51vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    /*border: 1px solid red*/
}

html{
    scroll-behavior: smooth;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;    
    justify-content: center; 
    align-items: center;
    width: 94%;
    height: 100%;
    background-color: var(--bgColorDark);
    color: var(--colorMain);
}

main{
    box-sizing: border-box;
    background-color: var(--bgColorDark);
    
}

main h1{
    text-align: center;
}

#welcome-title{
    margin-bottom: 75px;
    font-family: 'Limelight';
}

header{
    text-align: center;
    margin: 10px auto;
    margin-bottom: 80px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--headerBgColor);
    font-family: 'Limelight';
}

[type="text"]{
    padding: 5px;
    font-size: 20px;
    border-radius: 1cm;
}

.btn{
    padding: 5px;
    font-size: 20px;
    border-radius: 1cm;
    font-family: 'Limelight';
}

.movie-board {
    padding: 2px 15px 5px 5px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 85px;
    margin-top: 25px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;   
  }

  .image-container{
    margin-top: 0px;
}

.poster-boxed{
    margin-top: 10px;
    height: 32vh;
    width: 22vh;
    object-fit: cover;
    border: 1px solid red;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


.flip-card{    
    margin: 0px auto;
    margin-bottom: 95px;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-cont{
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Horizontal flip when when mouse over flip box container */
.flip-card:hover .flip-card-cont{    
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back{
    position:absolute;  
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;    
}

/* Style the front side (fallback if image is missing) */
.flip-card-front{    
    background-image: linear-gradient(black, gray);   
}

/* Style back side */
.flip-card-back{
    transform: rotateY(180deg);
    overflow-wrap: break-word;
    background-image: linear-gradient(black,gray);
    color: whitesmoke;
}


.line-plot{
   
   text-align: center;
}

.line{
    padding-top: 5px;
    margin-bottom: 20px;
    font-family: 'Cinzel';

}

.img-flip-card{
    width: 30vh;
    height: 50vh;
}


 